@model Dictionary<Scrabble.Models.MemberViewModel, double>

<h1>Leaderboard</h1>

<div class="container">
	<div class="row">
		<div class="col-sm-1">
			<strong>Position</strong>
		</div>
		<div class="col-xs-3">
			<strong>Player</strong>
		</div>
		<div class="col-xs-2">
			<strong>Average Score</strong>
		</div>
	</div>
	@{ 
		var i = 1;
	}
	@foreach (var entry in Model)
	{
		<div class="row">
			<div class="col-sm-1">
				@i
			</div>
			<div class="col-xs-3">
				@entry.Key.FirstName @entry.Key.LastName
			</div>
			<div class="col-xs-2">
				@entry.Value
			</div>
		</div>
		i++;
	}
</div>