@model Scrabble.Models.MemberViewModel

<h1>Interfaces</h1>

<div class="row">
	<h2>Edit Member Profile</h2>
	<div id="genericMemberResults"></div>
	@using (Ajax.BeginForm("UpdateMember", "Interfaces", new AjaxOptions
	{
		HttpMethod = "Post",
		InsertionMode = InsertionMode.Replace,
		OnBegin = "genericMemberBegin()",
		OnFailure = "genericMemberFailure()",
		OnSuccess = "updateMemberSuccess(data)",
	}, new { id = "updateMemberForm" }))
	{
		<div class="loading"></div>
		<div id="fields">
			@Html.EditorFor(x => x, "Member", null)
		</div>

	}
</div>