@model Scrabble.Models.MemberViewModel

<h1>Interfaces</h1>

<div class="row">
	<p><a href="@Url.Action("CreateMemberProfile", "Interfaces")">Create Member Profile</a></p>
	<p><a href="@Url.Action("EditMemberProfiles", "Interfaces")">Edit Member Profiles</a></p>

</div>